{% extends "SdzATIBundle::atilayout.html.twig" %}

{% block workspace_name %}
Shop/delete
{% endblock %}

{% block titre_panel %}
	Shop Management/delete
{% endblock %}

{% block option_panel %}
  <a class="btn btn-info" href="{{ path('sdz_ati_magasin') }}">Shops List</a>

                              
{% endblock %}

{% block corps_panel %}

<div class="well">
<p>Etes-vous certain de vouloir supprimer ce magasin: "{{ magasin.nom }}" ?
</p>

<form action="{{ path('sdz_ati_magasin_supprimer', {'id': magasin.id}) }}" class="form-horizontal"
method="post">

<a href="{{ path('sdz_ati_magasin')}}"
class="btn btn-success">

Retour
</a>

<input type="submit" value="Supprimer" class="btn btn-danger" />
{{ form_rest(form) }}
</form>

</div>

{% endblock %}