{% extends "SdzATIBundle::atilayout.html.twig" %}

{% block workspace_name %}
Product
{% endblock %}

{% block titre_panel %}
	Product Management
{% endblock %}

{% block option_panel %}

{% if is_granted('ROLE_ADMIN') %}
  <a class="btn btn-info" href="{{ path('sdz_ati_produit_ajouter') }}">Add</a>
{% endif %}

<br/>
{% for message in app.session.flashbag.get('infopr') %}
<h5 class="text-success">
{{message}}
</h5>
{% endfor %}
                              
{% endblock %}

{% block corps_panel %}
{% set pied=1 %}
<section class="table-responsive">
<table class="table table-striped table-condensed">
    <div class="panel-heading">
        <h3 class="panel-title">Liste des produits</h3><a class="btn" href="{{ path('sdz_ati_impression_etat') }}" ><span class="glyphicon glyphicon-print align-right" style="font-size:20px;"></span>Imprimer</a> 
    </div>
    <thead>
    <tr>
    <th>Statut</th>
    <th>Nom</th>
    <th>Quantité Disponible</th>
    </tr>
    </thead>
    <tbody>
    {% if nombrePage == 0 %}
        {% set pied=0 %}
        <tr class="warning"> <td> Aucun Produit enregistré</td></tr>
    {% elseif page > nombrePage %}
        <tr class="well"> <td>Page incorrecte </td> </tr>
    {% else %}
        {% for produit in produits %}
            {% if produit.nom is defined %}
            
            <tr class="warning">
            <td><span class="glyphicon glyphicon-ok-sign {% if produit.qted ==0 %}text-danger{% else %}
text-success{% endif %}" ></span> </td>
            <td><a href="{{ path('sdz_ati_produit_afficher', {'id': produit.id}) }}"> {{ produit.nom }} </a></td>
            
                
                <td> 
                <span class="badge">{{ produit.qted }}</span>
                 </td>
                
           
            
            
            
            </tr>
            {% else %}
            <tr class="warning"> <td> Aucun Produit enregistré</td></tr>
            {% endif %}
        {% endfor %}
    </tbody>
    {% endif %}
</table>   
</section>
{% if pied==1 %}
<div class="pagination btn-group btn-group-justified">
        <ul>
            {% for p in range(1,nombrePage) %}
            <li class="btn label {% if p==page %}btn-warning {% else %} btn-info{% endif %}">
                <a href="{{ path('sdz_ati_produit',{'page':p})}}">{{p}}</a>
            </li>
            {% endfor %}
        </ul>
</div>
{%  endif  %}
{% endblock %}