{% extends "SdzATIBundle::atilayout.html.twig" %}

{% block workspace_name %}
Statistic
{% endblock %}

{% block titre_panel %}
	<h4><i>Panel des statistiques</i></h4>
{% endblock %}

{% block option_panel %}
<a class=" btn btn-warning" href="{{ path('sdz_ati_statistique') }}" >Retour</a>                       
{% endblock %}

{% block corps_panel %}

<section class="table-responsive">
<table class="table table-striped table-condensed">
    <div class="panel-heading">
        <i><h3 class="panel-title">Statistic>> Month : {{mois}} Year : {{ annee }} </h3></i> <a class="btn" href="{{ path('sdz_ati_impression_mois',{'annee':annee,'mois':moisn}) }}" ><span class="glyphicon glyphicon-print align-right" style="font-size:25px;"></span>Imprimer</a> 
    </div>
    <thead>
    <tr>
    <th>Produit</th>
    <th>Entrée</th>
    <th>Sortie</th>
    <th>Frequence de vente (P/jour)
    </th>
    </tr>
    </thead>
    <tbody>
        {% for stat in stats %}
            {% if stat.id is defined %}
        <tr class="warning">
            <td>
                <a href="#">
                    {{stat.produit.nom}}
                </a>
            </td>
            <td>
                <span class=""><strong class="">{{ stat.entree }}</strong></span>
            </td>
            <td>
                <span ><strong>{{ stat.sortie }}</strong></span>
            </td>
            <td>
                <span class=""><strong>{{ stat.freqvente }}</strong></span>
            </td>
        </tr>
            {% else %}
            <tr class="danger">
                Aucune statistique enregistrée
            </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>   
</section>
{% endblock %}