<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<title> ATI SHOP- {% block workspace_name %} Home {% endblock %}</title>
		<!-- Load jQuery from Google's CDN if needed -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
<script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>


		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('ati/css/bootstrap.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('ati/css/font-awesome.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('ati/css/bootstrap-datepicker.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('ati/css/style.css') }}" type="text/css" />

			
			
			
		{% endblock %}

</head>

<body class="bod">

    


  
<script type="text/javascript">
    {{ chart(chart) }}
</script>

<div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    &copy; 2015 ATI | By : <a href="#" target="_blank">Rostandnj</a>
                </div>

            </div>
        </div>
    </footer>
    {% block javascripts %}
				{# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
			<script type="text/javascript" src="{{ asset('ati/js/jquery-1.11.1.js')}}"></script>
			<script type="text/javascript" src="{{ asset('ati/js/bootstrap.js')}}"></script>
			<script type="text/javascript" src="{{ asset('ati/js/bootstrap-datepicker.js')}}"></script>

			
	{% endblock %}
</body>
</html>
